doctype html
head
  meta(charset='UTF-8')
  title Borrow a book
  link(rel='stylesheet' href='/css/popup.css')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
main
  .button.js-button-campaign
    span Borrow
.overlay.js-overlay-campaign
  .popup.js-popup-campaign
    h2 Add this book
    | here you can add this book to your personal library
    .close-popup.js-close-campaign
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/js/popup.js')
